<?php
/**
 *
 * PHP 5
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright 2005-2012, Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright 2005-2012, Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       Cake.View.Layouts
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       MIT License (http://www.opensource.org/licenses/mit-license.php)
 *
 * @var $this View
 */

$cakeDescription = __d('paf_dev', Configure::read('Sandbox.site.name'));
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <?php echo $this->Html->charset(); ?>
    <title>
        <?php echo Configure::read('Sandbox.site.name') ?>:<?php echo $title_for_layout; ?>
    </title>
    <?php
    echo $this->Html->meta('icon');

    echo $this->Html->css(
        array(
            'http://fonts.googleapis.com/css?family=Open+Sans:400,600',
            'bootstrap',            
            'prettyPhoto',
            'flexslider',
            'font-awesome', 
            'slider',
            'refineslide',
            'style',
            'orange',
            'bootstrap-responsive',
        )
    );
    echo $this->fetch('meta');
    echo $this->fetch('css');
    ?>
    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <?php
        echo $this->Html->script('html5shim');
    ?>
    <![endif]-->
</head>
<body>
<?php
    echo $this->element('header');
?>
    <div class="row-fluid">
    <div id="content">
        <div class="container flex-main">
            <?php echo $this->Session->flash(); ?>
            <?php echo $this->Session->flash('info'); ?>

            <?php echo $this->fetch('content'); ?>
        </div>
    </div>

    </div>

<?php
    echo $this->element('footer');
?>

<?php
echo $this->Html->script(
    array(
        'jquery',
        'bootstrap',
        'jquery.isotope',
        'jquery.prettyPhoto',
        'filter',
        'jquery.flexslider-min',
        'jquery.cslider',
        'modernizr.custom.28468',
        'jquery.carouFredSel-6.1.0-packed',
        'jquery.refineslide.min',
        'custom'
    )
);
echo $this->fetch('script');
echo $this->Js->writeBuffer();
?>
</body>
</html>
